// Dashboard
.btn-inv-blue {
	background-color: $avenir-deep-blue;
	&.br-0 {
		border-radius: 0 !important;
	}
}
.btn-inv-blue:hover {
	color: $white;
	background-color: $avenir-deep-blue-hover;
}
.active-filter {
	color: $avenir-deep-blue;
}
.trading-rates {
	border-right: 2px solid #939395
}
.btc, .eth {
	border-right: 1px solid #939395;
	.curr-price {
		color: $avenir-deep-blue;
		margin-left: 0.5em;
	  margin-right: 0.5em;
	  font-weight: bold;
	}
	.price-change {
		background-color: $avenir-bright-green;
		color: $white;
	  display: inline-block;
	  padding: 3px 15px 3px 10px;
	}
}
.eth {
	border-right: 0 !important;
	.price-change {
		background-color: $avenir-red;
	}
}
.modal-content {
	width: 90% !important;
}
.wallet-topup {
	color: $avenir-deep-blue;
}
.btn-inv-gray {
	background-color: $gray-700;
}
.img-box {
	background-color: $avenir-light-gray;
	padding: 20px;
	border-radius: 10px;
	img {
		height: 50px;
	}
}
.active-coin {
	border: 2px dashed $gray-700;
}


// Roundup settings
.custom-control-input:checked ~ .custom-control-label::before {
	background-color: $avenir-deep-blue;
	border-color: $avenir-deep-blue;
}

.roundup-milestone {
	span {
		margin-right: 5px;
		color: $gray-700;
	}
	label {
		color: $gray-700;
	}
}

.btn-deep-ash {
	background-color: #4B4A5A;
	&:hover {
		color: $white;
	}
}


// Transactions
.top-up {
	background-color: $white;
	border-radius: 5px;
	padding: 10px;
	img {
		height: 120px;
	}
}

.top-heading {
	color: $avenir-blue;
}

.btn-red {
	background-color: $avenir-red;
	font-weight: bold;
}
.btn-red:hover {
	background-color: $white !important;
	color: $avenir-red;
	border: 1px solid $avenir-red;
}

.bg-blue {
	background-color: $avenir-blue;
}

.btn-light-blue {
	background-color: #7dc5d5;
}

.btn-light-blue:hover {
	color: #7dc5d5;
	background-color: $white;
	border: 1px solid #7dc5d5;
}

.btn-deep-blue {
	background-color: $avenir-deep-blue;
}

.btn-deep-blue:hover {
	color: $avenir-deep-blue;
	background-color: $white;
	border: 1px solid $avenir-deep-blue;
}

.roundup-bar {
	height: 1.7rem;
  border-radius: 0.9rem;
  background-color: $white;
}

.tab-content {
	padding: 1px;
}

.nav-tabs {
	.nav-link {
		border-radius: 0;
	}
	.nav-item {
		margin-right: 5px;
	}
	.nav-link.active {
		background-color: $avenir-deep-blue;
		color: $white;
	}

	li {
		a {
			background-color: $white;
		}
		a.active {
			border-bottom: 0 !important;
		}
	}
}

.btn-light-gray {
	background-color: $avenir-light-gray;
	color: #4B4B5A;
}

.roundups-table {
	tbody {
		tr {
			td:nth-child(4) {
				background-color: $avenir-light-gray;
			}
		}
	}
}

.topups-table {
	tbody {
		tr {
			td:nth-child(3) {
				background-color: $avenir-light-gray;
			}
		}
	}
}

.withdrawal-table {
	tbody {
		tr {
			td:nth-child(4) {
				background-color: $avenir-light-gray;
			}
		}
	}
}

.page-link {
	color: $avenir-deep-blue;
}

.page-item.active .page-link {
	background-color: $avenir-deep-blue;
	border-color: $avenir-deep-blue;
}


// Account
.account-profile {
	background-color: $white;
	padding: 15px;
	height: 100%;
	.user-profile {
		padding: 10px;
	}
	.setup {
		color: $avenir-red;
	}
	.setup-level {
		.progress-bar {
			color: $avenir-light-gray;
			background-color: $avenir-deep-blue;
		}
	}
	.reg-status {
		span.complete {
			color: $avenir-deep-blue;
		}
		span.incomplete {
			color: $avenir-red;
		}
	}
}

.account-settings {
	background-color: $white;
	padding: 15px;
	.nav-container {
		background-color: $avenir-light-gray;
		padding: 1em 0.5em;
		.nav.nav-tabs {
			border-bottom: 0;
		}
		.nav-tabs {
			.nav-link.active {
				background-color: $avenir-deep-blue;
			}
		}
	}
	.tab-container {
		.btn-red {
			background-color: $avenir-red;
		}
	}
	.invCoin {
		height: 20px;
	}
}

.roundup-switch {
	display: inline-block;
}

span.multiplier, span.inv-ratio {
	color: $avenir-deep-blue;
}

span.edit-ratio {
	color: $avenir-red;
}

.user-input {
	border-radius: 0.1rem;
  border: 1px solid #eaeaea;
}