// Dashboard
.btn-inv-blue {
	background-color: $avenir-deep-blue;
	border-radius: 0 !important;
}

// Transactions
.top-up {
	background-color: $white;
	border-radius: 5px;
	padding: 10px;
}

.top-heading {
	color: $avenir-blue;
}

.btn-red {
	background-color: $avenir-red;
	font-weight: bold;
}
.btn-red:hover {
	background-color: $white;
	color: $avenir-red;
	border: 1px solid $avenir-red;
}

.bg-blue {
	background-color: $avenir-blue;
}

.btn-light-blue {
	background-color: #7dc5d5;
}

.btn-deep-blue {
	background-color: $avenir-deep-blue;
}