// Dashboard
.btn-inv-blue {
	background-color: $avenir-deep-blue;
	border-radius: 0 !important;
}
.btn-inv-blue:hover {
	color: $white;
	background-color: $avenir-deep-blue-hover;
}
.active-filter {
	color: $avenir-deep-blue;
}
.trading-rates {
	border-right: 2px solid #939395
}
.btc, .eth {
	border-right: 1px solid #939395;
	.curr-price {
		color: $avenir-deep-blue;
		margin-left: 0.5em;
	  margin-right: 0.5em;
	  font-weight: bold;
	}
	.price-change {
		background-color: $avenir-bright-green;
		color: $white;
	  display: inline-block;
	  padding: 3px 15px 3px 10px;
	}
}
.eth {
	border-right: 0 !important;
	.price-change {
		background-color: $avenir-red;
	}
}

// Roundup settings
.custom-control-input:checked ~ .custom-control-label::before {
	background-color: $avenir-deep-blue;
	border-color: $avenir-deep-blue;
}

.roundup-milestone {
	span {
		margin-right: 5px;
	}
}

.btn-deep-ash {
	background-color: #4B4A5A;
}


// Transactions
.top-up {
	background-color: $white;
	border-radius: 5px;
	padding: 10px;
	img {
		height: 120px;
	}
}

.top-heading {
	color: $avenir-blue;
}

.btn-red {
	background-color: $avenir-red;
	font-weight: bold;
}
.btn-red:hover {
	background-color: $white;
	color: $avenir-red;
	border: 1px solid $avenir-red;
}

.bg-blue {
	background-color: $avenir-blue;
}

.btn-light-blue {
	background-color: #7dc5d5;
}

.btn-deep-blue {
	background-color: $avenir-deep-blue;
}

.roundup-bar {
	height: 1.7rem;
  border-radius: 0.9rem;
  background-color: $white;
}

.tab-content {
	padding: 1px;
}

.nav-tabs {
	.nav-link {
		border-radius: 0;
	}
	.nav-item {
		margin-right: 5px;
	}
	.nav-link.active {
		background-color: $avenir-deep-blue;
		color: $white;
	}

	li {
		a {
			background-color: $white;
		}
		a.active {
			border-bottom: 0 !important;
		}
	}
}

.btn-light-gray {
	background-color: $avenir-light-gray;
	color: #4B4B5A;
}

.roundups-table {
	tbody {
		tr {
			td:nth-child(4) {
				background-color: $avenir-light-gray;
			}
		}
	}
}

.topups-table {
	tbody {
		tr {
			td:nth-child(3) {
				background-color: $avenir-light-gray;
			}
		}
	}
}

.withdrawal-table {
	tbody {
		tr {
			td:nth-child(4) {
				background-color: $avenir-light-gray;
			}
		}
	}
}

.page-link {
	color: $avenir-deep-blue;
}

.page-item.active .page-link {
	background-color: $avenir-deep-blue;
	border-color: $avenir-deep-blue;
}


// Account
.account-profile {
	background-color: $white;
	padding: 15px;
	// border: 2px solid $avenir-light-gray;
	border-radius: 10px;
	.user-profile {
		padding: 10px;
	}
	.setup {
		color: $avenir-red;
	}
	.setup-level {
		.progress-bar {
			color: $avenir-light-gray;
			background-color: $avenir-deep-blue;
		}
	}
}